/* Reset styles to normalize behavior across browsers */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  z-index: 10;
}

.ecommerceCard {
  height: 500px;
  width: 500px;
  background-color:white;
  height: 207px;
  width: 382px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

.buyItNowBtn {
  height: 40px;
  width: 262px;
  background-color:#0053A0;
  color: white;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
}

.buyItNowBtn:hover, .addToCartBtn:hover {
  background-color:#27009b;
}

.addToCartBtn {
  height: 40px;
  width: 262px;
  background-color: #3498CA;
  border: 0px;
  font-weight: bold;
  color:white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  margin: .5em 0em;
}

.addToWatchlistBtn {
  height: 40px;
  width: 262px;
  background-color: white;
  border: solid 1px #006EFC;
  color: #006EFC;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
}

.addToWatchlistBtn:hover {
  color: #27009b;
  border: solid 1px #27009b;
}

.heartImg {
 color: blue;
 background-size: cover; 
 position: absolute;
 fill: blue;
 bottom: 2.95em;
 left: 7.75em;
}

.currentCart {
  background-color:gray;
  width: 416px;
  position: absolute;
  z-index: 1;
  left: 10em;
  top: 2em;
  border-radius: 3px;
}

.currentCartTitleBar {
  width: 416px;
  height: 60px;
  background-color: #EEEEEE;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;
}

.itemAdded {
  width: 416px;
  height: 280px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boughtTogether {
  height: 340px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  border-top: 1px solid rgb(195, 195, 195);
  flex-wrap: wrap;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.seeAllBtn {
  height: 41px;
  width: 386px;
  padding: 10px 0px;
  border: 1px solid rgb(195, 195, 195);
  background-color: #FFFFFF;
  color: #0654BA;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: .9em;
}

.seeAllBtn:hover {
  border:1px solid rgb(140, 140, 140);
}

.boughtTogetherTitle {
  color: #333333;
  text-align:left;
  width: 100%;
  padding-left:1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.03em;
  font-weight: 525;
  margin-top: .9em;
}

.boughtTogetherImgBox {
  height: 115px;
  width: 115px;
}

.boughtTogetherImgBox:hover {
  cursor: pointer;
}

.boughtTogetherImgDesc {
  width: 115px;
  height: 65px;
  margin-top: -1em;
  color: #333;
}

.boughtTogetherImgDesc span {
    color: #333;
    font-size: 13px;
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
}

.boughtTogetherImgDesc span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.boughtTogetherImgDesc h1 {
  font-size: 15px;
  font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
  margin-top: -.7em;
}

.checkoutBtn {
  height: 40px;
  width: 186px;
  color: #FFFFFF;
  background-color: #0654BA;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-right: .25em;
}

.checkoutBtn:hover {
  opacity: .8;
}

.goToCartBtn {
  height: 40px;
  width: 186px;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #0654BA;
  border: 0px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 3px;
  margin:0px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: .25em;
}

.goToCartBtn:hover {
  border:1px solid rgb(140, 140, 140);
}

.qualifyBox {
  width: 365px;
  height: 40px;
  border: 1px solid rgb(195, 195, 195);
  padding: 10px;
  margin: 16px 0px 0px;
}

.qualifyBox h1 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #DD1E31;
  width: 100%;
}

.qualifyBox h3 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: .5em;
  font-weight: 300;
  width: 100%;
}

.qualifyBox a {
  color: #0654BA;
  font-size: 14px;
}

.qualifyBox a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.itemSpecifics {
  width: 290px;
  height: 90px;
  margin-top: 2em;
}

.itemImg {
  width: 75px;
  height: 75px;
  background-color: blue;
  margin-top: 2em;
  margin-right:.5em;
}

.itemImg:hover {
  cursor: pointer;
}

.itemSpecificsTitle {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 45px;
}

.itemSpecificsPrice {
  width: 100%;
  height: 45px;
  display:flex; 
  align-items: flex-end;
  justify-content: space-between;
}

.itemSpecificsPrice span {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4.5em;
  margin-bottom: .6em;
}

.itemSpecifics h1 {
  color: #767676;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: .6em;
  font-weight: 400;
}

.closeBtn {
  position: absolute;
  height: 15px;
  width: 15px; 
  right: 1.5em;
  top: 1.5em;
  cursor: pointer;
  user-select: none;
}