.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.selectedImg{
  display: block;
  cursor: pointer;
  height :300px;
  width:300px
}

.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 150px;
  margin: 1em auto;
  overflow-x: auto;
  padding: 1em;
}

.img-container img {
  height: 80px;
  width: 80px;
  border: solid 1px rgb(220, 220, 220);
  padding: 1em;
}

.gallery {
  height: 33em;
  width: 60%;
}

